
                
<!-- To-Do List -->
<ul class="list-group border-secondary" id="list-group">
    {% for todo in todos %}
        <li class="list-group-item row justify-content-between align-items-center">
            <div class="todo-text">
                {% if todo.completed %} 
                    <del>{{ todo.task }}</del>
                {% else %}
                    {{ todo.task }}
                {% endif %}
            </div>
            
            <div >
                <div class="d-flex justify-content-end gap-4 align-items-center">
                    <form method="POST" action="{{ url('todo_act', todo.id, 'done') }}" class="d-inline editing">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <button class="btn btn-sm btn-outline-success" type="submit">
                            {% if todo.completed %}
                                Unmark
                            {% else %}
                                Mark Complete
                            {% endif %}
                        </button>
                    </form>
                    <form method="POST" action="{{ url('todo_act', todo.id, 'del') }}" class="d-inline editing">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
                    </form>
                    <form method="POST" action="{{ url('todo', todo.id) }}" class="d-inline modal-edit">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Edit</button>
                    </form>
                </div>
            </div>
        </li>
        {% else %} 
        <li class="list-group-item text-center">No tasks added yet.</li> 
    {% endfor %}
</ul>

<div class="modal show" id="todoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
</div>
</div>

